* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}
li a {
  text-decoration: none;
}

h1 {
  font-weight: 600;
  font-size: 400%;
}

h2 {
  font-weight: 600;
  font-size: 200%;
}

p {
  font-weight: 500;
}
p span {
  font-weight: 600;
}

#cabecera {
  background-color: #282828;
}
#cabecera .cabecera__contenedor {
  display: flex;
  width: 90%;
  height: 70px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
#cabecera .cabecera__contenedor .cabecera__img img {
  height: 40px;
}
#cabecera .cabecera__contenedor .cabecera__menu {
  line-height: 70px;
}
#cabecera .cabecera__contenedor .cabecera__menu ul {
  display: flex;
}
#cabecera .cabecera__contenedor .cabecera__menu ul li {
  height: 70px;
  transition: background-color 0.4s;
}
#cabecera .cabecera__contenedor .cabecera__menu ul li:hover, #cabecera .cabecera__contenedor .cabecera__menu ul li:focus {
  background-color: #303030;
  border-bottom: 5px #0692f2 solid;
}
#cabecera .cabecera__contenedor .cabecera__menu ul li:hover a {
  color: #0692f2;
}
#cabecera .cabecera__contenedor .cabecera__menu ul li a {
  display: block;
  margin: 0px 15px;
  color: #ffffff;
  transition: color 1s;
}