@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}
li a {
  text-decoration: none;
}

h1 {
  font-weight: 600;
  font-size: 400%;
}

h2 {
  font-weight: 600;
  font-size: 200%;
}

p {
  font-weight: 500;
}
p span {
  font-weight: 600;
}

.pie {
  margin-top: 100px;
  background-color: #282828;
  color: #ffffff;
  border-top: 3px #ffffff solid;
}
.pie .pie__contenedor {
  text-align: center;
}
.pie .pie__contenedor .pie__contenedor--redes {
  width: 70%;
  padding: 20px 10px;
  margin: auto;
  text-align: center;
  border-bottom: 3px #474747 solid;
}
.pie .pie__contenedor .pie__contenedor--redes ul {
  margin-top: 20px;
}
.pie .pie__contenedor .pie__contenedor--redes ul li {
  display: inline-block;
}
.pie .pie__contenedor .pie__contenedor--redes ul li img {
  height: 20px;
  margin: 10px;
  opacity: 0.5;
}
.pie .pie__contenedor .pie__contenedor--redes ul li img:hover {
  opacity: 1;
  transform: scale(1.5);
}
.pie .pie__contenedor .pie__contenedor--copyright {
  background-color: #1a1919;
  padding-top: 20px;
  width: 100%;
  height: 50px;
}

@media screen and (max-width: 1000px) {
  .pie {
    margin-top: 50px;
  }
}
#cabecera {
  background-color: #282828;
  border-bottom: 5px solid #0064a7;
}
#cabecera .cabecera__contenedor {
  display: flex;
  width: 90%;
  height: 70px;
  max-width: 1400px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
#cabecera .cabecera__contenedor .icon {
  display: none;
}
#cabecera .cabecera__contenedor .cabecera__img img {
  height: 40px;
}
#cabecera .cabecera__contenedor .cabecera__menu {
  line-height: 70px;
}
#cabecera .cabecera__contenedor .cabecera__menu ul {
  display: flex;
}
#cabecera .cabecera__contenedor .cabecera__menu ul li {
  height: 70px;
  transition: border-bottom, background-color 0.4s;
}
#cabecera .cabecera__contenedor .cabecera__menu ul li:hover, #cabecera .cabecera__contenedor .cabecera__menu ul li:focus {
  background-color: #474747;
}
#cabecera .cabecera__contenedor .cabecera__menu ul li:hover a {
  color: #0692f2;
}
#cabecera .cabecera__contenedor .cabecera__menu ul li a {
  display: block;
  margin: 0px 15px;
  color: #ffffff;
  transition: color 1s;
}

@media screen and (max-width: 1000px) {
  #cabecera {
    height: 130px;
  }
  #cabecera .cabecera__contenedor {
    flex-direction: column;
    padding: 15px 0px;
  }
  #cabecera .cabecera__contenedor .cabecera__menu ul li {
    margin-top: 5px;
    height: 60px;
  }
}
@media screen and (max-width: 600px) {
  #cabecera {
    height: 70px;
  }
  #cabecera .cabecera__contenedor {
    flex-direction: row;
  }
  #cabecera .cabecera__contenedor .icon {
    display: block;
  }
  #cabecera .cabecera__contenedor .icon img {
    height: 25px;
  }
  #cabecera .cabecera__contenedor .cabecera__img img {
    height: 30px;
  }
  #cabecera .cabecera__contenedor .cabecera__menu {
    position: fixed;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    left: 0;
    top: -100vh;
    background-color: #474747;
    transition: top 0.6s;
  }
  #cabecera .cabecera__contenedor .cabecera__menu ul {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #cabecera .cabecera__contenedor .cabecera__menu ul li {
    margin: 20px 0px;
  }
  #cabecera .cabecera__contenedor .cabecera__menu ul li a {
    font-size: 20px;
  }
  #cabecera .cabecera__contenedor .cabecera__menu .close {
    position: absolute;
    left: 30px;
    top: 30px;
  }
  #cabecera .cabecera__contenedor #menu:target {
    visibility: visible;
    display: block;
    top: 0;
  }
  #cabecera .cabecera__contenedor #menu:target .seccionNosotros {
    position: relative;
    z-index: -1;
  }
}
.fondoInicio {
  background-image: url(../Imagenes/fondo_inicio.jpg);
  background-position: top;
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#seccionInicio .seccionInicio__contenedor {
  margin: 100px auto;
  text-align: center;
}
#seccionInicio .seccionInicio__contenedor .seccionInicio__img img {
  width: 20%;
}
#seccionInicio .seccionInicio__contenedor .seccionInicio__texto {
  color: white;
  margin: auto;
}
#seccionInicio .seccionInicio__contenedor .seccionInicio__texto h1 {
  margin-top: 60px;
}
#seccionInicio .seccionInicio__contenedor .seccionInicio__texto p {
  width: 40%;
  margin: 30px auto;
}

@media screen and (max-width: 1000px) {
  .fondoInicio {
    background-position: top;
    background-size: cover;
    height: 800px;
  }

  #seccionInicio {
    margin-top: 50px;
  }
  #seccionInicio .seccionInicio__contenedor {
    width: 90%;
    margin: auto;
  }
  #seccionInicio .seccionInicio__contenedor .seccionInicio__img img {
    width: 30%;
  }
  #seccionInicio .seccionInicio__contenedor .seccionInicio__texto h1 {
    font-size: 300%;
  }
  #seccionInicio .seccionInicio__contenedor .seccionInicio__texto p {
    width: 80%;
  }
}
.seccionNosotros {
  margin: 150px 0px;
}
.seccionNosotros .seccionNosotros__contenedor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  width: 90%;
  margin: auto;
}
.seccionNosotros .seccionNosotros__contenedor .seccionNosotros__info {
  text-align: left;
  width: 50%;
}
.seccionNosotros .seccionNosotros__contenedor .seccionNosotros__info h1 {
  color: #0692f2;
}
.seccionNosotros .seccionNosotros__contenedor .seccionNosotros__info h2 {
  color: #282828;
}
.seccionNosotros .seccionNosotros__contenedor .seccionNosotros__info p {
  margin-top: 10%;
  line-height: 180%;
  color: #7f7e8c;
}
.seccionNosotros .seccionNosotros__contenedor .seccionNosotros__img {
  width: 50%;
  text-align: right;
}
.seccionNosotros .seccionNosotros__contenedor .seccionNosotros__img img {
  width: 80%;
}

@media screen and (max-width: 1000px) {
  .seccionNosotros {
    position: relative;
    z-index: -1;
    margin: 50px auto;
  }
  .seccionNosotros .seccionNosotros__contenedor {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .seccionNosotros .seccionNosotros__contenedor .seccionNosotros__info {
    text-align: center;
    width: 95%;
    margin: auto;
  }
  .seccionNosotros .seccionNosotros__contenedor .seccionNosotros__info h1 {
    font-size: 300%;
  }
  .seccionNosotros .seccionNosotros__contenedor .seccionNosotros__img {
    width: 95%;
    text-align: center;
  }
  .seccionNosotros .seccionNosotros__contenedor .seccionNosotros__img img {
    width: 100%;
    margin: 80px auto;
    border-radius: 2%;
  }
}
.integrantesPortada {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../Imagenes/portadaIntegrantes.jpg);
  background-position: center;
  background-size: cover;
  height: 240px;
  margin-bottom: 32px;
  color: #ffffff;
}
.integrantesPortada h1 {
  text-align: center;
  color: #ffffff;
  margin-top: auto;
  margin-bottom: auto;
}

.integrantesSeccion .integrantesSeccion__contenedor {
  display: flex;
  align-items: stretch;
  width: 90%;
  margin: auto;
  margin-bottom: 10%;
}
.integrantesSeccion .integrantesSeccion__contenedor article {
  width: 20%;
  padding: 2%;
  margin: 0px 10px;
  text-align: center;
  border-radius: 3%;
  transition: box-shadow, background-color 1.5s;
}
.integrantesSeccion .integrantesSeccion__contenedor article:hover {
  box-shadow: 0.3em 0.2em 1em rgba(128, 128, 128, 0.65);
  background-color: #0064a7;
}
.integrantesSeccion .integrantesSeccion__contenedor article:hover p {
  color: #ffffff;
}
.integrantesSeccion .integrantesSeccion__contenedor article:hover h3 {
  color: #ffffff;
}
.integrantesSeccion .integrantesSeccion__contenedor article:hover img {
  transform: scale(1.1);
}
.integrantesSeccion .integrantesSeccion__contenedor article img {
  border-radius: 50%;
}
.integrantesSeccion .integrantesSeccion__contenedor article h3 {
  color: #0692f2;
  margin: 5% 0%;
}
.integrantesSeccion .integrantesSeccion__contenedor article p {
  color: #282828;
}

@media screen and (max-width: 1000px) {
  .integrantesPortada h1 {
    font-size: 300%;
  }

  .integrantesSeccion .integrantesSeccion__contenedor {
    flex-wrap: wrap;
  }
  .integrantesSeccion .integrantesSeccion__contenedor article {
    width: 40%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 600px) {
  .integrantesPortada {
    height: 180px;
    margin-bottom: 32px;
    position: relative;
    z-index: -1;
  }
  .integrantesPortada h1 {
    font-size: 250%;
  }

  .integrantesSeccion {
    position: relative;
    z-index: -1;
  }
  .integrantesSeccion .integrantesSeccion__contenedor {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .integrantesSeccion .integrantesSeccion__contenedor article {
    width: 80%;
    margin: auto;
    margin-bottom: 32px;
  }
}
.mediaFoto .mediaFoto__contenedor {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}
.mediaFoto .mediaFoto__contenedor .mediaFoto__contenedor--titulo {
  color: #0692f2;
  text-align: center;
  margin-bottom: 32px;
  border-bottom: 5px #474747 solid;
}
.mediaFoto .mediaFoto__contenedor .mediaFoto__contenedor--grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3px;
  grid-template-areas: "img1 img1 img2 img3" "img4 img5 img6 img6" "img7 img8 img9 img10";
}
.mediaFoto .mediaFoto__contenedor .mediaFoto__contenedor--grid .img1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: img1;
  background-image: url("../Imagenes/2018_01_art_4_1_845.jpg");
  background-position: center;
  background-size: cover;
}
.mediaFoto .mediaFoto__contenedor .mediaFoto__contenedor--grid .img2 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: img2;
  background-image: url("../Imagenes/15218375632287.jpg");
  background-position: center;
  background-size: cover;
}
.mediaFoto .mediaFoto__contenedor .mediaFoto__contenedor--grid .img3 {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: img3;
  background-image: url("../Imagenes/15578457252786.jpg");
  background-position: center;
  background-size: cover;
}
.mediaFoto .mediaFoto__contenedor .mediaFoto__contenedor--grid .img4 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: img4;
  background-image: url("../Imagenes/esport.jpg");
  background-position: center;
  background-size: cover;
}
.mediaFoto .mediaFoto__contenedor .mediaFoto__contenedor--grid .img5 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: img5;
  background-image: url("../Imagenes/Esports10-1-e1556879769378-1.jpg");
  background-position: center;
  background-size: cover;
}
.mediaFoto .mediaFoto__contenedor .mediaFoto__contenedor--grid .img6 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: img6;
  background-image: url("../Imagenes/Competicion-League-of-Legends_1125497463_65706_1440x600.jpg");
  background-position: center;
  background-size: cover;
}
.mediaFoto .mediaFoto__contenedor .mediaFoto__contenedor--grid .img7 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: img7;
  background-image: url(../Imagenes/2017101810304358776.jpg);
  background-position: center;
  background-size: cover;
}
.mediaFoto .mediaFoto__contenedor .mediaFoto__contenedor--grid .img8 {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: img8;
  background-image: url(../Imagenes/isurusworldsplaying.jpg);
  background-position: center;
  background-size: cover;
}
.mediaFoto .mediaFoto__contenedor .mediaFoto__contenedor--grid .img9 {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
  grid-area: img9;
  background-image: url(../Imagenes/La-final-de-Liga-Movistar-Latinoamérica-de-LoL-Toda-una-experiencia_la_vida_es_un_videojuego_blog_9.jpg);
  background-position: center;
  background-size: cover;
}
.mediaFoto .mediaFoto__contenedor .mediaFoto__contenedor--grid .img10 {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
  grid-area: img10;
  background-image: url(../Imagenes/unnamed.jpg);
  background-position: center;
  background-size: cover;
}
.mediaFoto .mediaFoto__contenedor .mediaFoto__contenedor--grid div {
  border-radius: 10px;
  opacity: 0.7;
  transition: transform 1s, opacity 1s;
}
.mediaFoto .mediaFoto__contenedor .mediaFoto__contenedor--grid div:hover {
  transform: scale(1.1);
  box-shadow: 0.3em 0.2em 1em rgba(128, 128, 128, 0.65);
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .mediaFoto .mediaFoto__contenedor {
    width: 95%;
    margin: auto;
  }
  .mediaFoto .mediaFoto__contenedor .mediaFoto__contenedor--grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 3px;
    grid-template-areas: "img2 img3" "img1 img1" "img4 img5" "img6 img6" "img7 img8" "img9 img10";
  }
  .mediaFoto .mediaFoto__contenedor .mediaFoto__contenedor--grid div {
    opacity: 1;
  }
  .mediaFoto .mediaFoto__contenedor .mediaFoto__contenedor--grid .img1 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .mediaFoto .mediaFoto__contenedor .mediaFoto__contenedor--grid .img2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .mediaFoto .mediaFoto__contenedor .mediaFoto__contenedor--grid .img3 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .mediaFoto .mediaFoto__contenedor .mediaFoto__contenedor--grid .img4 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .mediaFoto .mediaFoto__contenedor .mediaFoto__contenedor--grid .img5 {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .mediaFoto .mediaFoto__contenedor .mediaFoto__contenedor--grid .img6 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .mediaFoto .mediaFoto__contenedor .mediaFoto__contenedor--grid .img7 {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .mediaFoto .mediaFoto__contenedor .mediaFoto__contenedor--grid .img8 {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
  }
  .mediaFoto .mediaFoto__contenedor .mediaFoto__contenedor--grid .img9 {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }
  .mediaFoto .mediaFoto__contenedor .mediaFoto__contenedor--grid .img10 {
    -ms-grid-row: 11;
    -ms-grid-column: 3;
  }
}