.integrantesPortada{
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../Imagenes/portadaIntegrantes.jpg);
    background-position: center;
    background-size: cover;
    height: 240px;
    margin-bottom: 32px;
    h1{
        text-align: center;
        color: $colorBlanco;
    }
}

.integrantesSeccion{
    .integrantesSeccion__contenedor{
        display: flex;
        align-items: stretch;
        width: 90%;
        margin: auto;
        margin-bottom: 10%;

        article{
            width: 20%;
            padding: 2%;
            margin: 0px 10px;
            text-align: center;
            border-radius: 3%;
            transition: box-shadow,background-color 1.5s;
            &:hover{
                box-shadow: $sombra;
                background-color: $colorAzulOscuro;
            }
            &:hover p{
                color: $colorBlanco;
            }
            &:hover h3{
                color: $colorBlanco;
            }
            &:hover img{
                transform: scale(1.1);
            }
            img{
                border-radius: 50%;
                
            }

            h3{
                color: $colorAzul;
                margin: 5% 0%;
            }

            p{
                color: $colorGrisOscuro;
            }

        }
    }
}

@media screen and (max-width: 1000px){
    .integrantesPortada{
        h1{
            font-size: 300%;
        }
    }
    .integrantesSeccion{
        .integrantesSeccion__contenedor{
            flex-wrap: wrap;
            article{
                width: 40%;
                margin-bottom: 20px;
            }
        }
    }
}

@media screen and (max-width: 600px){
    .integrantesPortada{
        height: 180px;
        margin-bottom: 32px;
        position: relative;
        z-index: -1;
        
        h1{
            font-size: 250%;
        }
    }

    .integrantesSeccion{
        position: relative;
        z-index: -1;
        .integrantesSeccion__contenedor{
            flex-direction: column;
            align-items: center;
            justify-content: center;

            article{
                width: 80%;
                margin: auto;
                margin-bottom: 32px;
                
            }
        }
    }
}