#cabecera{
    background-color: $colorGrisOscuro;
   // border-bottom: 5px solid $colorGrisClaro;
    .cabecera__contenedor{
        display: flex;
        width: 90%;
        height: 70px;
        margin: auto;
        justify-content: space-between;
        align-items: center;

        .cabecera__img{
            img{
                height: 40px;
            }
        }

        .cabecera__menu{
            line-height: 70px;
            ul{
                display: flex;

                li{
                    height: 70px;
                    transition: background-color 0.4s;
                    &:hover,
                    &:focus{
                        background-color: $colorGrisClaro;
                        border-bottom: 5px $colorAzul solid;
                    }
                    &:hover a{
                        color: $colorAzul;
                    }

                    a{
                        display: block;
                        margin: 0px 15px;
                        color: $colorBlanco;
                        transition: color 1s;
                    }
                }
                
            }
        }
    }


}