$colorAzul: #0692f2;
$colorAzulOscuro: #0064a7;
$colorGrisClaro: #474747;
$colorGrisOscuro: #282828;
$colorBlanco: #ffffff;
$colorNegro: #1a1919;
$tipografia: 'Montserrat', sans-serif;
$sombra:0.3em 0.2em 1em rgba(128, 128, 128, 0.65);