$colorAzul: #0692f2;
$colorGrisClaro: #303030;
$colorGrisOscuro: #282828;
$colorBlanco: #ffffff;
$colorNegro: #2a2a2a;
$tipografia: 'Montserrat', sans-serif;
$sombra:0.3em 0.2em 1em rgba(128, 128, 128, 0.65);